<!--Frontend for recommendations-->

<!--CSS styling-->
<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #292929;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #c7c2c2;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 8px; 
        border: 1px solid #ccc;
    }

    th {
        font-weight: bold;
        text-align: center;
        background-color: #f23d3d;
        color: #fff;
    }

    td {
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        max-height: 200px;
    }
</style>



<table>

<!--Titles-->
<tr>
{% for title in movies[0] %}
    <th>{{title}}</th>
{% endfor %}
</tr>

<br>

<tr>
<!--Descriptions-->
{% for descriptions in movies[1] %}
    <td>{{descriptions}}</td>
{% endfor %}
</tr>

<tr>
<!--Release Dates-->
{% for releaseDates in movies[2] %}
    <td>{{releaseDates}}</td>
{% endfor %}
</tr>

<tr>
<!--Rankings-->
{% for rankings in movies[3] %}
    <td>{{rankings}}</td>
{% endfor %}
</tr>

<!--Posters-->
<tr>
    {% for image in movies[4] %}
        <td><img src = {{image}} style = "width:150px; height:200px;"></td>
    {% endfor %}
</tr>